body {
    font-family: Roboto, sans-serif;
}

#configurator {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 350px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    background-color: whitesmoke;
    color: #222222;
    padding: 10px;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
}

#configurator h2 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin: 15px 0;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: lightgray;
    color: #222222;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: azure;
}

button:active {
    background-color: lightgray;
}

#configurator .close-btn {
    margin-top: 10px;
}

#configurator .close-btn:hover {
    background-color: #c0c0c0;
}

label,
input,
button,
select,
legend,
textarea {
    font-size: 1.3rem;
    line-height: 1.2;
}

fieldset {
    border-radius: 5px;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.form__group:nth-child(2) {
    margin-top: 0;
}

.form__field {
    width: 100%;
    height: 43px;
    border-radius: 5px;
    border: rgb(133, 133, 133) 2px solid;
    outline: none;
    padding: 7px 7px;
    box-sizing: border-box;
    background: transparent;
    transition: border-color 0.3s;
}

.form__field:focus {
    border-color: #11998e;
}

.form__field:focus + .form__label {
    color: #11998e;
}

.form__field:focus + .form__label,
.form__field:valid + .form__label {
    top: 5px;
    font-size: 1rem;
    background-color: whitesmoke;
}

.form__field:invalid {
    border-color: red;
}

.form__field:invalid + .form__label {
    color: red;
}

.form__label {
    position: absolute;
    top: 24px;
    left: 5px;
    cursor: text;
    background-color: transparent;
    font-size: 1.3rem;
    padding: 0 3px;
    transition: top 0.2s ease, font-size 0.3s ease, color 0.3s ease;
}

.form__row > legend{
    font-size: 1.2rem;
    cursor: pointer;
}

.form__row div {
    margin: 0;
}