#configurator {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    background-color: #F1f1f1;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

label, legend {
    margin-right: 5px;
}