#configurator {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    background-color: #F1f1f1;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 10px;
    align-self: center;
}

label, legend {
    margin-right: 5px;
}